<div class="container">
    <div class="row">
        <div class="text-secondary">
            <p class="h3">Welcome {{firstName}}!</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="h4 text-secondary">
            <p class="fa fa-shopping-cart " *ngIf="itemsCounter!=null"> Avaliable products in our store:
                {{itemsCounter}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="h4 text-secondary">
            <p class="fa fa-shopping-cart " *ngIf="ordersCounter!=null"> Number of orders submitted in our store:
                {{ordersCounter}}</p>

        </div>
    </div>
</div>