<form #orderForm="ngForm">
    <div class="container">
        <div class="row col-md-10">
            <div>
                <b>Shipping Details: </b>
                <hr>
            </div>
            <div class="p-2 row col-md-12">
                City:
                <app-city-show (changeSelectEmitter)="getSelectedCityId($event)"></app-city-show>

            </div>
            <div class="p-2 row col-md-10">
                <label> Street:
                    <input placeholder="street Ship" [(ngModel)]='streetShip' ng-dblclick required name="streetShip">
                </label>
            </div>
            <div class="p-2 row col-md-10">
                <label> Shipping Date:
                    <!-- <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dateShip" [(ngModel)]="dateShip"
                                ngbDatepicker #d="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                    </div>
                </form> -->
                    <!-- <form class="form-inline">
                    <div class="form-group">
                         <div class="input-group"> 
                            <input type="text" ngbDatepicker #d="ngbDatepicker"/>
                            <ngb-datepicker [(ngModel)]="model" #d="ngbDatepicker"></ngb-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()"
                                    type="button"></button> 
                            </div>
                         </div>
                    </div>
                </form> -->
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </label>
                <hr />
                <!-- <pre>Model: {{ model | json }}</pre> -->
            </div>
            <div class="p-2 row col-md-10">
                <b> Payments: </b>
                <hr>
            </div>
            <div class="p-2 row col-md-10">
                <label>Credit card:
                    <input type="number" class="no-spinner" [(ngModel)]='creditCardNo' name='creditCardNo' required />
                </label>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-secondary" type="submit" (click)='doOrder()' [disabled]="!orderForm.form.valid">
                Order
            </button>
        </div>
        <div class="p-2">
            <button class="btn btn-secondary" type="submit" (click)='getCartItemExList()'>
                <!-- [disabled] = "!orderDone" -->
                download text file
            </button>
        </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</form>