<form #orderForm="ngForm" class="col-md-6 " style="background-color: beige;">
    <div class="container">
        <div class="row col-md-10">
            <div>
                <b>Shipping Details: </b>
                <hr>
            </div>
            <div class="p-2 row col-md-12">
                City:
                <app-city-show (changeSelectEmitter)="getSelectedCityId($event)"></app-city-show>
            </div>
            <div class="p-2 row col-md-10">
                <label> Street:
                    <input placeholder="street Ship" [(ngModel)]='streetShip' ng-dblclick required name="streetShip">
                </label>
            </div>
            <div class="p-2 row col-md-10">
                <label> Shipping Date: 
                    <div class="input-group">
                        <input   type="text" class="form-control" name="dp" [(ngModel)]="ShipDate" datetime-picker="yyyy-MM-dd"
                            ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                    <!-- <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm"
                        ng-model="ShipDate" is-open="ctrl.picker3.open" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker3')"><i
                                class="fa fa-calendar"></i></button>
                    </span>
                </p>-->
                <!-- <p class="form-control-static">{{ ShipDate.date}} - {{ShipDate}}</p>  -->
                </label>
                <hr />
            </div>
            <div class="p-2 row col-md-10">
                <b> Payments: </b>
                <hr>
            </div>
            <div class="p-2 row col-md-10">
                <label>Credit card:
                    <input type="number" class="no-spinner" [(ngModel)]='creditCardNo' name='creditCardNo' required />
                </label>
            </div>
            <div class="p-3">
                <button class="btn btn-secondary" type="submit" (click)='doOrder()' [disabled]="!orderForm.form.valid">
                    Order
                </button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div *ngIf="orderDone" class="text-primary col-md-5" style="background-color: purple;">

                <label class="ml-2 mt-2"> קנייתך בוצעה בהצלחה </label><br>
                <label class="ml-2 mt-2"> להורדת הקבלה לחץ </label><br>
                <button class="ml-5 mt-1 btn btn-link" type="submit" (click)='getCartItemExList()'> כאן </button>
                <div class="p-3">
                    <button class="ml-4 btn btn-secondary" type="submit" (click)='navigateToHome()'> אישור </button>
                </div>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>

</form>