<div *ngIf="roleId===1">
  <div class="row">
    <form #itemForm="ngForm" class="col-md-4 m-5" style="background-color: beige;">
      <div class="form-group">
        <br>
        <h2>New category:</h2>
        <input placeholder="categoryName" [(ngModel)]='categoryName' required name="categoryName"
          class="form-control input-sm chat-input">
      </div>
      <div class="form-group">
        <button [disabled]="!itemForm.form.valid" (click)="addCategory()"> add category </button>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </form>
  </div>
</div>