<div *ngIf="roleId===1">
  <!--admin-->
  <div class="row">
    <form #itemForm="ngForm" class="col-3">

      <h2>New city:</h2>
      <div class="form-group">

        <label>Name:
          <input   name="itemName" [(ngModel)]='cityname' required />
        </label>
      </div>

      <!-- <div class="form-group">
        <label>Id:
          <input [(ngModel)]='cityid' required />
        </label>
      </div> -->

      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="addCity()"  [disabled]="!itemForm.form.valid"> add city </button>
      <!-- <button (click)="getListCity()"> get city </button> -->
    </form>
  </div>
</div>