<div *ngIf="roleId===1">
  <!--admin-->
  <div class="row">
    <form #itemForm="ngForm" class="col-md-4 m-5" style="background-color: beige;">

      <h2>New city:</h2>
      <div class="form-group">

        <label>Name:
          <input name="itemName" [(ngModel)]='cityname' required />
        </label>
      </div>
      <button (click)="addCity()" [disabled]="!itemForm.form.valid"> add city </button>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </form>
  </div>
</div>