<div class="row">
  <form class="col-3">
    <div class="form-group">
      <legend>Sign in -user "STEP 1"</legend>
    </div>
    <div class="form-group">
      <label> TZ:
        <input placeholder="tz" maxlength="9" [(ngModel)]='tz' required name="tz">
      </label>
    </div>
    <div class="form-group">
      <label> Email
        <input ngModel [email]="true" type="email" placeholder="email" #userEmail="ngModel" [(ngModel)]='email' required
          name="email">
        <!--{{userEmail.valid}}{{userEmail.touched}}-->
        <div *ngIf="!userEmail.valid && userEmail.touched">
          Email is not valid!
        </div>
      </label>
    </div>
    <div class="form-group">
      <label> Password </label>
        <input type="password" placeholder="Password" [(ngModel)]='password' name="password" required>
    </div>
    <div class="form-group">
      <label> Confirm password </label>
        <input type="password" placeholder="Confirm Password" [(ngModel)]='confirmPassword' name="confirmPassword"
          required>
    </div>
    <div class="form-group">
      <button type="submit" class="pure-button pure-button-primary" (click)='addPerson1()'>
        SUBMIT
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

  </form>

  <!--TODO: right arrow-->