  
<form #newUserForm="ngForm" class="col-md-6 ml-5" style="background-color: beige;">
 
  <!-- <div class="form-register"> -->
  <div  class="ml-5" >
    <div class="form-group">
      <legend>Sign in -user "STEP 1"</legend>
    </div>
    <div class="form-group col-md-6">
      <label> TZ:
        <input placeholder="tz" maxlength="9" [(ngModel)]='tz' required name="tz"
          class="form-control input-sm chat-input">
      </label>
    </div>
    <div class="form-group col-md-6">
      <label> Email
        <input ngModel [email]="true" type="email" placeholder="email" #userEmail="ngModel" [(ngModel)]='email'
          class="form-control input-sm chat-input" required name="email">
        <!--{{userEmail.valid}}{{userEmail.touched}}-->
        <div *ngIf="!userEmail.valid && userEmail.touched">
          Email is not valid!
        </div>
      </label>
    </div>
    <div class="form-group col-md-4">
      <label> Password </label>
      <input type="password" class="form-control input-sm chat-input" placeholder="Password" [(ngModel)]='password'
        name="password" required>
    </div>
    <div class="form-group col-md-4">
      <label> Confirm password </label>
      <input type="password" class="form-control input-sm chat-input" placeholder="Confirm Password"
        [(ngModel)]='confirmPassword' name="confirmPassword" required>
    </div>
    <div class="form-group col-md-6">
      <button type="submit" class="pure-button pure-button-primary" (click)='addPerson1()'>
        SUBMIT
       <!-- todo arrow img -->
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <!-- </div> -->
  </div>

</form>

<!--TODO: right arrow-->