<header>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        {{roleId}}
        <!-- todo -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href='#' [routerLink]='[""]'>Home</a>
                </li>
                <!-- <li [style.visibility]="hidden" class="nav-item active"> -->
                <!-- <ng-container *ngIf="roleId=1"> -->
                <li class="nav-item active" *ngIf="roleId===1">
                    <a class="nav-link" href='#' [routerLink]='["/city"]'>Add city</a>
                </li>
                <li class="nav-item active" *ngIf="roleId===1">
                    <a class="nav-link" href='#' [routerLink]='["/category-add"]'>Add category</a>
                </li>
                <li class="nav-item active" *ngIf="roleId===1">
                    <a class="nav-link" href='#' [routerLink]='["/category"]'>Show category</a>
                </li>
               <li class="nav-item active">
                    <a class="nav-link" href='#' [routerLink]='["/register"]'>register</a>
                </li>
                <li class="nav-item active" *ngIf="roleId!=1">
                    <a class="nav-link" href='#' [routerLink]='["/shopping-page"]'>shopping page</a>
                </li>

            </ul>
        </div>
        <div class="col-md-3">
            <div> <label class="text-success"> {{firstName}} </label></div>
            <div> <label class="text-success"> {{email}} </label></div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>