<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<form #newUserForm="ngForm">
  <div class="form-login">

    <h4>Welcome back</h4>
    <div class=" px-md-5">
      <input type="text" [(ngModel)]="user.email" required name='email' class="form-control input-sm chat-input"
        placeholder="username" />
    </div>
    <div class=" px-md-5">
      <input type="text" [(ngModel)]="user.password" required type='password' name='password'
        class="form-control input-sm chat-input " placeholder="password" />
    </div>
    <div class="wrapper">
      <span class="group-btn  px-md-5">
        <div class="row">
          <button class="p-3 border col-md-6  btn btn-primary btn-md" (click)="login()" [disabled]="!newUserForm.form.valid">Login
            <i class="fa fa-sign-in"></i></button>

          <button class="p-3 border  col-md-6   btn btn-primary btn-md" *ngIf="logged" 
            (click)="toShopping()">
            <div *ngIf="roleId===1">
              <!--admin-->
              <p>Defining products</p>
            </div>
            <div *ngIf="roleId===2">
              <!--user-->
              <p *ngIf="isNew">Start shopping</p>
              <p *ngIf="!isNew">Continue shopping</p>
            </div>
          </button>
          <!-- {{isNew}} -->
        </div>
        <div class=" px-md-5">
          <a class="nav-link" href='#' [routerLink]='["/register"]'>Sign up</a>
        </div>
      </span>
    </div>
  </div>
</form>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>