<div>
  <i class="fas fa-plus" style="float: right;" (click)="update()"></i>
  <div *ngIf="item">

    <h4>{{item.name}}</h4>
  </div>
  <hr>
  <h6>Product name: </h6> <input [(ngModel)]="item.name" #ctrl="ngModel" required>
  <div *ngIf="item._id">
    <h6>Product id:</h6> <input [(ngModel)]="item._id" #ctrl="ngModel" required>
  </div>
  <h6>Product price: </h6> <input type="number" [(ngModel)]="item.price" #ctrl="ngModel" required>
  <h6>₪</h6>
  <h6>Picture:</h6>
  <div class="form-group" ng-class="{'has-error' : myForm.name.$invalid && !myForm.name.$pristine}">
    Select image path: <input type="file" [(ngModel)]='itemPicturePath' name="myFile" (change)="readURL($event)"
      required>

    <!-- [(ngModel)]='itemPicturePath' required><br><br> -->
  </div>
  <div class="col-xs-4">
    <img id="blah" [src]="itemPicturePath" alt={{name}} class="img-responsive img-rounded" />
  </div>
  <!-- todo image+ src -->
  <h6>Category:</h6>

  <select [(ngModel)]='item.categoryId' name="itemCategoryId" #ctrl="ngModel" id="categoryId" class="form-control"
    required>
    <option value="">Select category</option>
    <option *ngFor="let category of categoryArray" [value]='category._id' [selected]="category._id===item.categoryId">
      {{category.name}}
    </option>
  </select>
  <!-- select category -->

  <button type="button" (click)="item._id!=undefined ? updateItem(): saveItem() ">Save </button>{{item._id!=undefined }}
</div>