<!-- <form [formGroup]="form" #itemForm="ngForm" (ngSubmit)="onSubmit()"> -->
<i class="fas fa-plus" style="float: right;" (click)="update()"></i>
<div *ngIf="item">

  <h4>{{item.name}}</h4>
</div>
<hr>
<h6>Product name: </h6> <input [(ngModel)]="item.name" name="name" required>
<!-- #ctrl="ngModel"  -->
<div *ngIf="item._id">
  <h6>Product id:</h6> <input [(ngModel)]="item._id" name="_id" required>
</div>
<h6>Product price: </h6> <input type="number" min="0.00" name="price" [(ngModel)]="item.price" required>₪
<h6>Picture:</h6>

<div class="wrapper">
  <h2>Angular Image Upload Demo</h2>

  <div class="file-upload">
    <input   [(ngModel)] = "SelfileName" type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
  </div>

</div>
<h6>Category:</h6>

<select [(ngModel)]='item.categoryId' name="itemCategoryId" #ctrl="ngModel" id="categoryId" class="form-control"
  required>
  <option value="">Select category</option>
  <option *ngFor="let category of categoryArray" [value]='category._id' [selected]="category._id===item.categoryId">
    {{category.name}}
  </option>
</select>
<!-- select category -->

<button type="button" [disabled]="!itemForm.form.valid" (click)="item._id!=undefined ? updateItem(): saveItem() ">Save
</button>
<div *ngIf="errorMessage" class="alert alert-danger animation" role="alert">
  {{errorMessage}}
</div>
