<div class="page-layout">
    <div class="container">
        <div class="row col-md-12">
        </div>
        <div class="row">
            <button type="button" class="col-md-2 btn btn-warning w-100" (click)="delCart()">Delete all cart</button>

            <div class="items">
                <div class="category">
                    <app-category (categoryClicked)="filterByCategory($event)"></app-category>

                    <input type="text" class="form-control" placeholder="Search" #search (keyup)="filterByName($event)">
                </div>
                <div class="item-list">
                    <app-item-show (updateItemEmitter)=getSelectedItem($event) (addItemEmitter)=updateArry()
                        *ngIf="filteredArray!=null" [itemArray]="filteredArray"></app-item-show>
                </div>

                <div class="item" *ngIf="roleId===1">
                    <app-item-update [item]=item_Emitter></app-item-update>
                </div>

                <div class="item" *ngIf="roleId!==1">
                    <app-cart-item [cartItemExArray]="cartItemExArray" (deleteItemEmitter)=updateArry()></app-cart-item>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
