<div class="modal-header ">
  <h4 class="modal-title" id="modal-basic-title">Select count</h4>
</div>
<div class="modal-body">
  <div class="mb-2 d-flex justify-content-center">
  <input [(ngModel)]="count" type="number" min="1" required name="countInp" value="1">
</div>
  <div class="row ">
    <div class="col-md-6">
      <button (click)="closeModal()" type="submit" class="btn text-white  w-100" style="background-color:purple"
       >Close</button>
    </div>
    <div class="col-md-6">
      <button (click)="passBack()" type="submit" class="btn text-white  w-100 " style="background-color:purple">Next</button>
    </div>
  </div>
</div>